@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f3f5;
  --foreground: #1f1f1f;
}

[data-theme='dark'] {
  --background: #1f1f1f;
  --foreground: #f1f3f5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
