@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO */
/* .external-link-img {
  visibility: hidden;
}

.external-link:hover .external-link-img {
  visibility: visible;
  transition: ease .2s;
} */
